.textSubheaderCategory {
  margin: var(--spacing-1) 0;
  color: var(--color-content-sub);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.leftArrowIcon {
  margin-right: var(--spacing-2);
}

.listCategorySelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-5);
  padding: 0;
  margin: var(--spacing-5) 0;
}

.itemCategorySelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-content-main);
  cursor: pointer;
}