.badge {
    background-color: var(--color-neutral-0);
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.size-small {
    padding: 0.375rem 0.75rem 0.375rem 0.5rem;
    font-size: 1rem;
}

.size-large {
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    font-size: 1rem;
}

.icon {
    display: flex;
    align-items: center;
}