.container {
  width: 24.375rem;
  height: 28.125rem;
  background-color: var(--color-neutral-0);
  border-radius: var(--radius-5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: var(--spacing-5);
  border-bottom: 0.0625rem solid var(--color-neutral-100);
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.closeButton {
  display: flex;
  align-items: center;

  svg,
  img {
    width: 1rem;
    height: 1rem;
    fill: var(--color-content-sub);
  }
}

.categoryContainer {
  height: 24.125rem;
  padding: var(--spacing-5);
}

.textSubheaderCategory {
  margin: var(--spacing-1) 0 var(--spacing-6);
  color: var(--color-content-sub);
  font-size: var(--font-size-sm);
  line-height: 1rem;
  cursor: pointer;
}

.leftArrowIcon {
  margin-right: var(--spacing-2);
}

.listCategorySelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-5);
  padding: 0;
  margin: var(--spacing-5) 0;
}

.itemCategorySelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-sm);
  line-height: 1rem;
  cursor: pointer;

  svg {
    color: var(--color-content-main);
  }
}