.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.badgeContainer {
  display: flex;
  gap: var(--spacing-2);
}

.textInputContainer {
  display: flex;
  gap: var(--spacing-4);
}

.textInputWithUnit {
  display: flex;
  align-items: center;
  position: relative;
}

.unitInside {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-neutral-500);
  font-size: 1em;
  pointer-events: none;
}