.dealGrid {
  flex: 1;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-4);
}

.observerTarget {
  height: 1px;
}

.spinnerWrapper {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  padding: var(--spacing-4);
}

.noSearchResult {
  position: absolute;
  top: 30vh;
  left: 50%;
  color: var(--color-content-sub);
  font-size: var(--font-size-sm);
  transform: translateX(-50%);
}

@media (max-width: 64rem) {
  .dealGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 48rem) {
  .dealGrid {
    grid-template-columns: 1fr;
    gap: 0;
  }
}