.wrapper {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  padding: var(--spacing-1) var(--spacing-2-5);
  background-color: transparent;
  border: 0.0625rem solid var(--color-neutral-200);
  border-radius: var(--radius-4);
  cursor: pointer;
}

.selectedWrapper {
  background-color: var(--color-neutral-800);
  border: 0.0625rem solid var(--color-neutral-500);
}

.label {
  color: var(--color-content-sub);
  font-size: var(--font-size-sm);
}

.selectedLabel {
  color: var(--color-neutral-0);
}