.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  gap: var(--spacing-3);
}

.inputContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 70%;
  padding: var(--spacing-3) var(--spacing-4);
  background-color: var(--color-neutral-50);
  border-radius: var(--radius-3);
}

.styledInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-sm);
}

.styledInput::placeholder {
  color: var(--color-content-sub);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacing-3);

  svg,
  img {
    width: 1rem;
    height: 1rem;
    fill: var(--color-content-tertiary);
  }
}

.directInputButton {
  flex: 1;
  padding: var(--spacing-3) var(--spacing-4);
  background-color: var(--color-neutral-300);
  color: var(--color-neutral-0);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-2);
}

.active {
  background-color: var(--color-neutral-700);
}